


{% load static %}
{% load i18n %}
{% load account socialaccount %}
      
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/paymentfont.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/user_main.css' %}">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" sizes="32x32">
	<link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">

	<meta name="description" content="Games and Fun marketplace by Game On">
	<meta name="keywords" content="">
	<meta name="author" content="Game On">
	<title>Game On| Reset Password </title>

</head>
<body>

	<div class="sign section--full-bg" data-bg="{% static 'img/bg2.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
				
						<form action="{% url 'account_reset_password' %}" class="sign__form" method="POST" autocomplete="off">
                            {% csrf_token %}
							<span class="sign__text"> <a href="/">  Back to Homepage</a></span>
							<a href="/" class="sign__logo">
								<img src="{% static 'img/logo_white.png' %}" alt="">
							</a>

							<div class="sign__group">
                                <input autocomplete="off" type="email" name="email" class="sign__input" required id="id_email" placeholder="Enter your email address">
                               
							</div>

							<button class="sign__btn" type="submit">Proceed</button>

							<span class="sign__text"> <a href="{% url 'account_login' %}">Return to Login </a></span>

						</form>
				
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/wNumb.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
	<script src="{% static 'js/jquery.mCustomScrollbar.min.js' %}"></script>
	<script src="{% static 'js/user_main.js' %}"></script>
</body>
</html>

