
{% load static %}
{% load i18n %}
{% load account socialaccount %}
      
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/paymentfont.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/user_main.css' %}">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" sizes="32x32">
	<link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">

	<meta name="description" content="Games and Fun marketplace by Game On">
	<meta name="keywords" content="">
	<meta name="author" content="Game On">
	<title>Game On| Change Password  </title>

</head>
<body>

	<div class="sign section--full-bg" data-bg="{% static 'img/bg2.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- authorization form -->
                        <span class="sign__text"> <a href="/"> Choose new password </a></span>
                            <span> {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %} </span>

                        {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}
                                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                                {% else %}
                                {% if form %} 
						<form action="{{ action_url }}" class="sign__form" method="POST" autocomplete="off">
                            {% csrf_token %}
							
							<a href="/" class="sign__logo">
								<img src="{% static 'img/logo_white.png' %}" alt="">
							</a>

							

							<div class="sign__group">
								
                                <input autocomplete="off" type="password" name="password" class="sign__input" required id="id_password" placeholder="Enter new password">
                                <div>
                                    {% if form.password.errors %}
                                        {% for error in form.password.errors %}
                                        <div class="nk-kycfm-note">
                                            <em class="icon ni ni-info-fill" data-toggle="tooltip" data-placement="right" title="Tooltip on right"></em>
                                            <p style="color: red !important;">{{ error|escape }}</p>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                    </div>
							</div>

                            <div class="sign__group">
								
                                <input autocomplete="off" type="password" name="password2" class="sign__input" required id="id_password2" placeholder="Enter new password again">
                                <div>
                                    {% if form.password2.errors %}
                                        {% for error in form.password2.errors %}
                                        <div class="nk-kycfm-note">
                                            <em class="icon ni ni-info-fill" data-toggle="tooltip" data-placement="right" title="Tooltip on right"></em>
                                            <p style="color: red !important;">{{ error|escape }}</p>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                    </div>
							</div>
                           
							
							<button class="sign__btn" type="submit">Continue</button>
  
						</form>
				
                        {% else %}
                                <p>{% trans 'Your password is now changed.' %}</p>
                                {% endif %}
                                {% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/wNumb.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
	<script src="{% static 'js/jquery.mCustomScrollbar.min.js' %}"></script>
	<script src="{% static 'js/user_main.js' %}"></script>
</body>
</html>

