{% load static %}
{% load i18n %}



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/paymentfont.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/user_main.css' %}">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" sizes="32x32">
	<link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">

	<meta name="description" content="Games and Fun marketplace by Game On">
	<meta name="keywords" content="">
	<meta name="author" content="Game On">
	<title>Game On| Create New Account</title>

<style type="text/css">
	.sign__group--eye  {
	position: absolute;
	top: 30%;
	right: 5%;


	cursor: pointer; 
	color: whitesmoke;
	}
</style>

</head>
<body>
	<!-- sign in -->
	<div class="sign section--full-bg" data-bg="{% static 'img/gameon_login_bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- registration form -->
					
						<form action="{% url 'account_signup' %}" class="sign__form" method="POST">
                            {% csrf_token %}
							<span class="sign__text"><a  href="/">Back to Homepage</a></span>
							<a href="/" class="sign__logo">
								<img src="{% static 'img/logo_white.png' %}" alt="">
							</a>

							
							
							<div class="sign__group">
                                <input type="email" name="email" class="sign__input" id="signup_email" placeholder="Enter your email address">
                                <div>
                                    {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                        <div class="nk-kycfm-note">
                                            <p style="color: red !important; font-size:90%;">{{ error|escape }}</p>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
							</div>

							<div class="sign__group">
                                <input type="password" name="password1" class="sign__input" id="signup_password1" placeholder="Enter password">
								<ion-icon  name="eye-outline" class="sign__group--eye" onclick="toggleViewPassword()" ></ion-icon>
                                <div>
                                    {% if form.password1.errors %}
                                        {% for error in form.password1.errors %}
                                        <div class="nk-kycfm-note">
                                            <p style="color: red !important; font-size:90%;"> Password must include at least with 1 uppercase and 1 number</p>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
							</div>

							<div class="sign__group sign__group--checkbox">
								<input class="t_and_c" id="t_and_c" name="t_and_c" type="checkbox" >
								<label for="t_and_c">I agree to the <a href="/privacy-and-policy">Privacy Policy</a></label>
							</div>
							
							<button class="sign__btn" id="sb-btn" type="submit">Sign up</button>

					

							

							<span class="sign__text">Already have an account? <a href="{{ login_url }}">Sign in!</a></span>
						</form>
					
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/wNumb.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
	<script src="{% static 'js/jquery.mCustomScrollbar.min.js' %}"></script>
	<script src="{% static 'js/user_main.js' %}"></script>
    <!-- <script>
        $(function () {
            var t_and_c = $('.t_and_c');
            var sb_btn = $('#sb-btn');
        
            t_and_c.on('change', function() {
                sb_btn.prop("disabled", !this.checked);
                }).trigger('change');
        
        });    
    </script> -->

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script type="text/javascript">
	function toggleViewPassword() {
		var x = document.getElementById("signup_password1");
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}
		}

</script>
</body>
</html>


