{% extends 'rentals/base.html' %}

{% load static %}
{% load humanize %}


{% block content %}

<section class="section section--first section--last section--headbg" data-bg="{% static 'img/banner_bg_2.jpg' %}">
    <div style="height: 50vh;" class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div style="padding-top: 15%;" class="section__wraped">

                    <h2 class="section__titledd">Rent out your idle games and earn an income</h2>

                    <div style="margin-top: 5%;">
                        <a style="width: 200px;" class="card__buy" href="https://vendor.gameon.com.ng/accounts/signup" target="_blank"> Become a Vendor </a>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="section section--bg section--first" data-bg="{{the_featured_banner.bannerImagePath.url}}">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="section__title-wrap">
                    <h2 class="section__title section__title--title"></h2>

                    <div class="section__nav-wrap">
                        <button class="section__nav section__nav--bg section__nav--prev" type="button" data-nav="#carousel0">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='328 112 184 256 328 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg>
                        </button>

                        <button class="section__nav section__nav--bg section__nav--next" type="button" data-nav="#carousel0">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='184 112 328 256 184 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="owl-carousel section__carousel section__carousel--big" id="carousel0">


        {% if featured_items %}
        {% for val in featured_items %}
        <div class="card card--big">
            <a href="{{val.get_absolute_url}}" class="card__cover">
                <img src="{{val.thumbnailImagePath.url}}" width="240px" height="340px" alt="">
            </a>

            <div class="card__wrap">
                <div class="card__title">
                    <h3><a href="{{val.get_absolute_url}}">{{val.name}}</a></h3>
                </div>

                <ul class="card__list">
                    <li><span>Date Added:</span> {{val.created_at | naturaltime}}</li>
                    <li>{% for the_cat in val.cat.all %}<span class="post__category">{{the_cat.name}}</span>{% endfor %}</li>
                </ul>




            </div>





            <div id="added_to_cart_modal_{{val.id}}" class="zoom-anim-dialog mfp-hide modal">
                <button class="modal__close" type="button"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><line x1='368' y1='368' x2='144' y2='144' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='368' y1='144' x2='144' y2='368' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg></button>

                <h3 class="modal__title">{{val.name}} updated in the Cart</h3>

                <div class="modal__group">
                    <label class="modal__label" for="value">Item cost:</label>
                    <span class="modal__value">{% if val.discount_price %} ₦{{val.discount_price|intcomma}} {% else %} ₦{{val.price}} {% endif %}</span>
                </div>

                <div class="modal__group">
                    <label class="modal__label" for="method"><b>Checkout Now</b></label>



                    <span class="modal__text"> Head over to <a href="/shop/cart/">Shopping Cart </a>  to checkout  or continue shopping !</span>
                </div>
            </div>


        </div>




        {% endfor %}
        {% endif %}


    </div>

</section> -->



	<!-- section -->
	<section style="padding-top: 6%;" class="section section--catalog">
		<div class="container">
			<!-- <div class="row">
				<div class="col-12">
					<div class="section__title-wrap section__title-wrap--single">
						<h2 class="section__title">Browse All releases</h2>
					</div>
				</div>
			</div> -->
            <form style="padding-top: 3%;" action="#" method="get">
			<div class="row">
				<div class="col-12">
					<div class="sort">
						<div class="filter__group filter__group--sort">
							<label for="genres" class="filter__label">Categories:</label>

							<div class="filter__select-wrap">

								<select name="item_categories" id="genres" class="filter__select">

									<option value="all">All</option>
                                    {% if cats %}
                                    {% for cat in cats %}
									<option value="{{cat.name}}">{{cat.name}}</option>
                                    {% endfor %}
                                    {% endif %}


								</select>
							</div>
						</div>



                        <button class="header__btn" type="submit">

                            <svg  xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M221.09,64A157.09,157.09,0,1,0,378.18,221.09,157.1,157.1,0,0,0,221.09,64Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><line x1='338.29' y1='338.29' x2='448' y2='448' style='fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/></svg>
                        </button>

						<div class="sort__results">Showing {{showing_cat}}</div>

					</div>
				</div>
			</div>
        </form>
			<!-- catalog -->
            {% if all_items|length > 0 %}
			<div class="row category">


				{% for item in all_items %}
				<!-- card -->
				<!-- <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20"> -->
				<div class="col-12 col-sm-6 col-md-3">
					<div class="card card--catalog">
						<a href="{{item.get_absolute_url}}" class="card__cover">
							<img src="{{item.thumbnailImagePath.url}}" width="240px" height="340px" alt="">
							{% if item.comingSoon == True %}
							<span class="card__new">Pre-order</span>
							{% endif %}
						</a>



						<div class="card__title">
							<h3><a href="{{item.get_absolute_url}}">{{item.name}}</a></h3>
							{% if item.discount_price %}
							<span>₦{{item.discount_price|intcomma}}</span><s>₦{{item.price|intcomma}}</s>
							{% else %}
							<span>₦{{item.price|intcomma}}</span>
							{% endif %}
						</div>

						<div class="card__actions">

							<button data-product="{{item.id}}" data-action="add" class="card__buy add-btn update-cart" type="button">Add to cart</button>
							<a style="display: none;" id="btn_atc_{{item.id}}" href="#added_to_cart_modal_{{item.id}}" class="open-modal"></a>

						</div>
					</div>
				</div>

				{% endfor %}




				{% if all_items.has_other_pages %}
					<div class="col-12">
						<div class="paginator">
							<div class="paginator__counter">

							</div>

							<ul class="paginator__wrap">
								{% if all_items.has_previous %}
								<li class="paginator__item paginator__item--prev">
									<a href="?page={{ all_items.previous_page_number }}">
										<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='244 400 100 256 244 112' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/><line x1='120' y1='256' x2='412' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg>
									</a>
								</li>

								{% endif %}

								{% for i in all_items.paginator.page_range %}
								{% if all_items.number == i %}
								<li class="paginator__item paginator__item--active"><a href="#">{{i}}</a></li>
								{% else %}
								<li class="paginator__item"><a href="?page={{ i }}">{{i}}</a></li>
								{% endif %}
								{% endfor %}

								{% if all_items.has_next %}
								<li class="paginator__item paginator__item--next">
									<a href="?page={{ all_items.next_page_number }}">
										<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='268 112 412 256 268 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/><line x1='392' y1='256' x2='100' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg>
									</a>
								</li>
								{% endif %}
							</ul>

						</div>
					</div>
                    {% endif %}




			</div>
            {% else %}
                <!-- article -->
                <div class="article">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <!-- article content -->
                            {% if location_pulled == True %}
                            <div class="article__content article__content--page" style="text-align: center;">


                                <h1>No vendors in your location</h1>
                                <p>Sorry! There are no vendors in your location. <br>
                                    To rent or buy games directly from GameOn; <br> <a href="https://wa.me/2348103699838" target="_blank"> <strong> chat with our admin.</strong></a> <br>
                                    To become a vendor in your location; <br> <a href="https://vendor.gameon.com.ng/accounts/signup" target="_blank"> <strong>sign up here</strong></a></p>


                            </div>
                            {% else %}
                            <div class="article__content article__content--page" style="text-align: center;">


                                <h1>Location Services Required</h1>
                                <p>Kindly allow us access your location to serve you better</p>



                            </div>
                            {% endif %}
                            <!-- end article content -->
                        </div>
                    </div>
                </div>
                <!-- end article -->
            {% endif %}

			<!-- end catalog -->
		</div>
	</section>
	<!-- end section -->






{% if trailers %}
<!-- section -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__title-wrap section__title-wrap--single">
                    <h2 class="section__title">Latest Games Trailers</h2>

                </div>
            </div>
            {% for item in trailers %}
            <div class="col-12 col-md-12 col-lg-6">
                <div class="post post--big">
                    <a href="#" class="post__img">
                        <img src="{{item.trailer_banner.url}}" alt="">
                    </a>
                    <a href="{{item.trailer_yt_link}}" class="post__video">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </a>
                    <div class="post__content">

                        <h3 class="post__title"><a href="#">{{item.highlight_title}} </a></h3>
                        <div class="post__meta">
                            <span class="post__date"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M256,64C150,64,64,150,64,256s86,192,192,192,192-86,192-192S362,64,256,64Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><polyline points='256 128 256 272 352 272' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg> {{item.created_at|naturaltime}}</span>
                            <span class="post__comments"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M431,320.6c-1-3.6,1.2-8.6,3.3-12.2a33.68,33.68,0,0,1,2.1-3.1A162,162,0,0,0,464,215c.3-92.2-77.5-167-173.7-167C206.4,48,136.4,105.1,120,180.9a160.7,160.7,0,0,0-3.7,34.2c0,92.3,74.8,169.1,171,169.1,15.3,0,35.9-4.6,47.2-7.7s22.5-7.2,25.4-8.3a26.44,26.44,0,0,1,9.3-1.7,26,26,0,0,1,10.1,2L436,388.6a13.52,13.52,0,0,0,3.9,1,8,8,0,0,0,8-8,12.85,12.85,0,0,0-.5-2.7Z' style='fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/><path d='M66.46,232a146.23,146.23,0,0,0,6.39,152.67c2.31,3.49,3.61,6.19,3.21,8s-11.93,61.87-11.93,61.87a8,8,0,0,0,2.71,7.68A8.17,8.17,0,0,0,72,464a7.26,7.26,0,0,0,2.91-.6l56.21-22a15.7,15.7,0,0,1,12,.2c18.94,7.38,39.88,12,60.83,12A159.21,159.21,0,0,0,284,432.11' style='fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/></svg> {{item.views}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- end section -->

{% endif %}


<!-- <div class="section section--last">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners owl-carousel">
                    <a href="#" class="partners__img">
                        <img src="{% static 'img/partners/3docean-light-background.png' %}" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="{% static 'img/partners/activeden-light-background.png' %}" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="{% static 'img/partners/audiojungle-light-background.png' %}" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="{% static 'img/partners/codecanyon-light-background.png' %}" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="{% static 'img/partners/photodune-light-background.png' %}" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="{% static 'img/partners/themeforest-light-background.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->




{% endblock content %}



